:root {
  --ion-background-color: #f6f9fc;
  --ion-text-color: #1f2937;

  --color-primary: #2979ff;
  --color-primary-600: #1f5ed1;

  --card-bg: #ffffff;
  --card-border: #e7edf3;
  --card-shadow: 0 8px 24px rgba(31,41,55,.06);
}
