<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tareas completadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Encabezado con total y botón -->
  <div class="header-container">
    <div class="total-box">
      <strong>Total:</strong> {{ completedTasks.length }}
    </div>
    <ion-button fill="solid" class="delete-btn" (click)="deleteCompleted()">
      Borrar completadas
    </ion-button>
  </div>

  <!-- Lista -->
  <ion-list>
  <div *ngFor="let task of completedTasks" class="task-card">
    <ion-item lines="none">
      <ion-label>
        <h2><s>{{ task.text }}</s></h2>
        <p>Completada el {{ task.createdAt | date:'short' }}</p>
      </ion-label>

      <ion-button (click)="markPending(task)">
        Marcar pendiente
      </ion-button>
    </ion-item>
  </div>
</ion-list>

</ion-content>
