.hint {
  margin-top: .5rem;
  font-size: .9rem;
  opacity: .7;
}

.actions {
  margin-top: 1rem;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

ion-item {
  --inner-padding-top: .4rem;
  --inner-padding-bottom: .8rem;
}
ion-progress-bar {
  margin-top: .4rem;
}
