:root{
  /* Paleta del diseño */
  --c-deep:#184C7A;   /* azul principal */
  --c-1:#4D7C8A;      /* azul verdoso */
  --c-2:#7F9C96;      /* verde grisáceo */
  --c-3:#8FAD88;      /* verde suave */
  --c-4:#C8DF90;      /* lima pastel */

  /* Ionic mapping */
  --ion-color-primary:var(--c-deep);
  --ion-color-primary-contrast:#fff;
  --ion-color-secondary:var(--c-1);
  --ion-color-tertiary:var(--c-2);
  --ion-color-success:var(--c-3);
  --ion-color-warning:var(--c-4);

  --ion-color-medium:#667784;
  --ion-color-light:#f6f8fb;
  --ion-background-color:var(--ion-color-light);
  --ion-text-color:#0b1c24;

  /* Barra superior */
  --ion-toolbar-background:var(--c-deep);
  --ion-toolbar-color:#fff;

  /* Estética */
  --card-radius:14px;
  --soft-border:1px solid #e6ebf1;
  --soft-shadow:0 6px 18px rgba(24,76,122,.08);
}
